skip_tags: true
cache: '%TEMP%\AF\PublicAssemblies\4.0\OSIsoft.AFSDK.dll'
before_build:
  -
    cmd: |-
        if not exist "%TEMP%\AF\PublicAssemblies\4.0" mkdir "%TEMP%\AF\PublicAssemblies\4.0"
        if not exist "%TEMP%\AF\PublicAssemblies\4.0\OSIsoft.AFSDK.dll" curl -s -L -o "%TEMP%\AF\PublicAssemblies\4.0\OSIsoft.AFSDK.dll" "https://drive.google.com/uc?export=download&id=1KCnqzwyv3K2sShy-qSfm-21IZbJ97Kw1"
        set PIHOME=%TEMP%
build_script:
  -
    cmd: |-
        build.bat
after_build:
  -
    cmd: |-
        set product=DBM
        for /f "delims=" %%i in ('powershell -Command "(Get-Item build\DBM.dll).VersionInfo.ProductVersion"') do set version=%%i
        for /f "delims=" %%i in ('git rev-parse --short HEAD') do set commit=%%i
        "%ProgramFiles(x86)%\Inno Setup 5\ISCC.exe" /O"%TEMP%" /FSetup_%product%_v%version%+%commit% /Q src\res\dbm.iss
        appveyor PushArtifact "%TEMP%\Setup_%product%_v%version%+%commit%.exe"
        "%TEMP%\Setup_%product%_v%version%+%commit%.exe" /VERYSILENT /NORESTART
test_script:
  -
    cmd: |-
        build\DBMAbout.exe|find "FAILED">NUL&&exit 1||exit 0
deploy:
  tag: 'v$(version)+$(commit)'
  release: '$(product) v$(version)+$(commit)'
  description: '$(APPVEYOR_REPO_COMMIT_MESSAGE)'
  provider: GitHub
  auth_token:
    secure: BrTAHlG3kNuONUuCV7ZEqGZmiLwLr3bMDGexczO4xd+i8ZtVLUgMzBRMpEhdSzbK
  artifact: /.*/
  draft: false
  prerelease: false
  on:
    branch: master
